<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <title>Consumer</title>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>      
    <!-- angular scripts -->
    <script src="http://code.angularjs.org/1.2.25/angular.js"></script>
    <!-- Controllers -->
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
  </head>
  <body ng-controller="consumerCtrl">
    <div class="container-fluid" id="main">
      <div class="box">
        <div class="row">
          <hr>
            <h2><strong>Consumer zone:</strong></h2>            
          <hr>
          <h5>Consumer: #{{userID}}</h5>
          <h5>Topics you are listening: {{myTopics}}</h5>
          <div class="col-md-4">  
            <hr><h4>Listen a new topic:</h4><hr>
            <h5>You can listen as many topics you want</h5>
            <form role="form" ng-submit="updateUser(user)">
              <div class="input-group">
                <label for="text">Select a topic to listen:</label>        
                <select name="topics" class="form-control" ng-model="user.topic" id="topics">
                  <option value="" disabled selected>Select an option</option>
                </select>        
              </div>   
              <p></p>
              <div class="form-group">      
                <button type="submit" class="btn btn-success" >Subscribe</button>
              </div>
            </form> 
          </div>          
          <div class="col-md-4">
            <hr><h4>Send a message:</h4><hr>
            <h5>Push the button Update to reload the page and receive messages from a producer</h5>
            <h5>Be aware that when you reload the page you will <b>lose</b> all the messages you have here
                in order to load the new messages.
            </h5>
            <table name="messagesTable" class="table table-striped" data-toggle="table" style="width: 100%;" size="20" id="messagesTable" align="right">
              <thead>
                <tr>
                  <!--<th>Topic</th>-->
                  <th>Message</th>
                </tr>
                <tr ng-repeat="x in messages">
                  <!--<td>{{ x.topic }}</td>-->
                  <td>{{ x }}</td>                  
                </tr>
              </thead>
            </table>
            <div>
              <strong><font id="messages" size="5"></font></strong>
              <button class="btn btn-info" ng-click="getMessage();">Update</button>    
            </div> 
          </div>
          <div class="col-md-4">  
            <hr><h4>Stop listening a topic:</h4><hr>
            <h5>You won't receive more message from the topic you select</h5>
            <form role="form" ng-submit="stopListeningTopic(stopuser)">
              <div class="input-group">
                <label for="text">Select a topic to delete:</label>        
                <select name="stopusers" class="form-control" ng-model="stopuser.topic" id="stopusers">
                  <option value="" disabled selected>Select an option</option>
                </select>        
              </div>   
              <p></p>
              <div class="form-group">      
                <button type="submit" class="btn btn-danger" >Delete</button>
              </div>
            </form> 
          </div>              
        </div>
      </div>    
    </div>  
  </body>
</html>

                           
   <!--
    <div ng-controller="GetMessages">
      <button ng-click="getData();">GetAllMessages</button>    
    </div>
  </body>
-->
      <!--
      <div class="form-group">
        <label for="text">Topic name:</label>
        <input type="text" class="form-control" id="title" placeholder="Ingresa el título" ng-model="user.topic" clear-input>
      </div>
      -->